body {
    background-image: url("taustakuva.jpg");
}
h1 {
    text-align: center;
    font-family: "Georgia Pro Black";
}
h2,h4 {
    text-align: center;
    font-family: "Gill Sans Nova Ultra Bold";
}
.jumbotron {
    background-color: hotpink;
}
.panel-primary {
    background-color: lightpink;
}
